In [1]:
###  Bibliothèque  ###

# La bibliothèque du quartier possède un catalogue de livres. 
# Elle permet aux adhérents d'emprunter UN livre à la fois pour une durée de 15 jours.

# Vous êtes chargé de développer une application de gestion des emprunts de livres.
# Pour cela, vous allez devoir écrire des requêtes SQL pour répondre à différents besoins.

In [2]:
from src.utils import get_tables_in_db, print_schema_of_table
from src.wrappers import *

from src.database import create_database
create_database()

In [ ]:
# la fonction get_tables_in_db() renvoie une liste contenant les noms des tables de la base de données

get_tables_in_db()

In [4]:
# authors : contient les informations sur les auteurs
# books : contient les informations sur les livres
# users : contient les informations sur les membres de la bibliothèque
# borrowings : contient les informations sur les emprunts de livres

In [ ]:
# la fonction print_schema_of_table() prend comme paramètre le nom d'une table 
# et affiche le nom des colonnes et type de données de cette table

table_name = get_tables_in_db()[0]
print_schema_of_table(table_name)

In [ ]:
# La table 'books' contient 3 colonnes : id, title, author_id
# Notre programme de gestion des emprunts de livres doit permettre 
# de consulter la liste des livres que possède la bibliothèque.

# Il faut ecrire une requête SQL qui selectionne tout le contenu de la table 'books'

# La fonction get_all_books() prend comme paramètre une requête SQL
#  - si la requête répond à l'intitulé, la fonction executera la requete et retournera le resultat
#  - si la requête est incorrecte, elle affichera un message d'erreur

requete = ""

get_all_books(requete)

In [ ]:
# La bibliothèque aimerait savoir combien d'auteurs différents sont dans sa base de données.
# On veut récupérer le contenu de la table 'authors'

requete = ""

get_all_authors(requete)

In [ ]:
# get_all_authors() nous retourné les auteurs dans l'ordre croissant par id
# Généralement les id les plus petits sont les premiers auteurs ajoutés à la base de données
# On voudrait donc obtenir la liste des auteurs dans l'ordre décroissant de leur id 
# pour savoir qui sont les derniers auteurs ajoutés à la base de données

requete = ""

get_all_authors_in_descending_order(requete)

In [ ]:
# On sait maintenant retourner nos résultat par ordre d'id décroissant, 
# Mais Une bibliothèque est généralement classée par ordre alphabétique !
# On veut maintenant les afficher par ordre alphabétique décroissant !

requete = ""

get_all_authors_by_alphabetical_descending_order(requete)

In [ ]:
# n'oubliez pas de commit régulièrement pour ne pas perdre votre travail !

In [ ]:
# Et si on voulait trier les livres par ordre alphabétique 
# mais en limitant les résultats pour n'en récupérer que 4 ?

requete = ""

get_only_the_first_4_books_alphabetically(requete)

In [ ]:
# Récupérer la liste des livres dont les id sont strictement inférieurs à 5

requete = ""

get_books_with_id_inferior_to_5(requete)

In [ ]:
# Récupérer la liste de livres dont les id existent dans la liste [3, 4, 5 et 6]

requete = ""

get_books_with_ids_3_4_5_and_6(requete)

In [ ]:
# Il faut maintenant récupérer

# UNIQUEMENT le titre des livres et l'id de leur auteur 
# pour ça, on peut spécifier les colonnes que l'on veut récupérer et ne pas spécifier les colonnes que l'on ne veut pas récupérer
# dans l'ordre alphabétique inverse des titres
# et SEULEMENT les titres qui contiennent la séquence de caractères 'le'  (en utilisant '%le%' )
# (dans tous ses contextes, comme 'Les', 'mille', etc.)

requete = ""

get_only_books_and_authors_id_with_le_in_name_of_book(requete)

In [ ]:
### Niveau 2 ! ###
# Les  jointures #

# la table 'books' contient une colonne 'author' qui est une clé étrangère vers la table 'authors'
# pour afficher le nom de l'auteur de chaque livre, il faut faire une jointure entre les deux tables
# écrire une requête SQL pour afficher la liste de tous les livres disponibles AVEC le nom de leur auteur.

# Selectionner le titre des livres et le nom des auteurs dans la table 'books'
# et joindre la table 'authors' avec la table 'books' sur l'équivalence des colonnes 'author_id' et 'id'

# SELECTIONNER titre_des_livre, nom_des_auteurs DEPUIS la table 'books' et la JOINDRE  à la table 'authors' SUR 'author_id' égal à 'id'

requete = ""

get_books_with_authors_using_join(requete)

In [ ]:
# J'ai envie de me plonger dans un auteur, n'importe lequel, Pourvu qu'il y ait suffisament d'ouvrage disponible en base !

# Selectionner le nom des auteurs depuis la table 'authors'
# et joindre la table 'books' avec la table 'authors' sur l'équivalence des colonnes 'author_id' et 'id'
# qu'il faut regrouper par le nom de l'auteur 
# qui ont un compte d'id de livre supérieur à 3

query = ""

get_authors_that_have_more_than_3_books_available(query)

In [ ]:
# Jusqu'a présent, nous avons travaillé sur des requêtes de lecture, READ dans le CRUD
# Nous allons maintenant nous intéresser à la création d'entrées, CREATE dans le CRUD

# - Ajouter l'auteur 'J.K. Rowling' dans la table authors
# - Puis ajouter le livre 'Harry Potter and the Philosopher\'s Stone' dans la table books
# - Le livre doit être lié à l'auteur J.K. Rowling via son author_id
# - L'ordre est important: il faut d'abord créer l'auteur puis le livre

requete_author = ""

create_new_author(requete_author)

In [ ]:
requete_book = ""

create_new_book(requete_book)

In [ ]:
# Vérifier que le livre a bien été ajouté

# On pourrait query la table books avec le titre directement, mais imaginons qu'on ne connaisse que l'auteur.
# créer une requête pour récupérer le livre de J.K. Rowling en utilisant une jointure

requete = ""

get_book_by_rowling(requete)

In [ ]:
# Passons maintenant à la modification d'entrée, UPDATE dans le CRUD

# - Mettre à jour le titre du livre 'Harry Potter and the Philosopher\'s Stone' en 'Harry Potter 1'
# - Utiliser une condition WHERE pour être sûr de modifier le bon livre
# - On peut utiliser soit le titre original, soit l'auteur dans la condition

requete = ""

update_book_title(requete)

In [ ]:
## réutiliser la fonction get_book_by_rowling() pour vérifier que le titre a bien été modifié

In [ ]:
# Pas de chance pour J.K. Rowling pusiqu'il est temps de découvrir la suppression d'entrée, DELETE dans le CRUD

# - Attention à l'ordre: il faut d'abord supprimer le livre (contrainte de clé étrangère)
# - Puis supprimer l'auteur

requete_delete_book = ""

delete_rowling_book(requete_delete_book)

In [ ]:
requete_delete_author = ""

delete_rowling_author(requete_delete_author)

In [ ]:
from src.db_connector import SQLiteConnector

In [ ]:
## Quelues exemples...

In [ ]:
# Lister tous les emprunts en cours (livres non retournés) avec les noms des utilisateurs et des livres :

def get_current_borrowings():
    query = '''
    SELECT users.name, books.title, borrowings.borrow_date
    FROM borrowings
    JOIN users ON borrowings.user_id = users.id
    JOIN books ON borrowings.book_id = books.id
    WHERE borrowings.return_date IS NULL
    '''
    with SQLiteConnector() as connector:
        return connector.execute_query(query)


current_borrowings = get_current_borrowings()
for user, book, borrow_date in current_borrowings:
    print(f"User: {user}, Book: {book}, Borrow Date: {borrow_date}")

In [ ]:
# savoir si un utilisateur a emprunté un livre il y a plus de 15 jours, 
def get_users_with_old_borrowings():
    query = '''
    SELECT users.name, books.title, borrowings.borrow_date
    FROM borrowings
    JOIN users ON borrowings.user_id = users.id
    JOIN books ON borrowings.book_id = books.id
    WHERE borrowings.borrow_date < DATE('now', '-15 days') AND borrowings.return_date IS NULL
    '''
    with SQLiteConnector() as connector:
        return connector.execute_query(query)


# Exemple d'utilisation
old_borrowings = get_users_with_old_borrowings()
for user, book, borrow_date in old_borrowings:
    print(f"User: {user}, Book: {book}, Borrow Date: {borrow_date}")

In [ ]:
# Lister tous les utilisateurs qui ont emprunté un livre spécifique :
def get_users_who_borrowed_book(book_id):
    query = '''
    SELECT users.name, borrowings.borrow_date, borrowings.return_date
    FROM borrowings
    JOIN users ON borrowings.user_id = users.id
    WHERE borrowings.book_id = ?
    '''
    with SQLiteConnector() as connector:
        return connector.execute_query(query, (book_id,))
    return 


# Exemple d'utilisation
book_id = 1  # ID du livre pour lequel vous voulez obtenir la liste des utilisateurs

users_who_borrowed = get_users_who_borrowed_book(book_id)
for user, borrow_date, return_date in users_who_borrowed:
    print(f"User: {user}, Borrow Date: {borrow_date}, Return Date: {return_date}")

In [ ]:
# Lister l'historique des emprunts pour un utilisateur spécifique :
def get_user_borrowing_history(user_id):

    query = '''
    SELECT books.title, borrowings.borrow_date, borrowings.return_date
    FROM borrowings
    JOIN books ON borrowings.book_id = books.id
    WHERE borrowings.user_id = ?
    '''
    with SQLiteConnector() as connector:
        return connector.execute_query(query, (user_id,))


user_id = 1  # ID de l'utilisateur pour lequel vous voulez obtenir l'historique

borrowing_history = get_user_borrowing_history(user_id)
for book, borrow_date, return_date in borrowing_history:
    print(f"Book: {book}, Borrow Date: {borrow_date}, Return Date: {return_date}")